body{
/*  font-family: "Helvetica Neue Light", Helvetica, sans-serif;
*/  font-size:12px;
  line-height:20px;
  color:#565656;

} 

@media screen and (max-width: 2000px) {
  .wrapper {
    width: 960px;
    margin: 0 auto; 
  }
  .logo{
    width: 960px;
    margin: 0 auto; 
  }
  .gallery{
      -moz-column-count: 3;
      -moz-column-gap: 12px;
      -webkit-column-count: 3;
      -webkit-column-gap: 12px;
      column-count: 3;
      column-gap: 12px
    }
  /* detail page */
  .work-description{
    width:300px;
    float:left;
  }
  .work-images{
    width:630px;
    float:right;
  }
  .work-image img{ 
    margin-bottom:8px;
  }

} 

@media screen and (max-width: 800px) {
  .wrapper {
    width: 620px;
    margin: 0 auto; 
  }
  .logo{
/*    background: #;
*/  }
  h1{
  font-size: 32px;
  line-height: 32px;
/*  font-size:1.2em; */
  text-align: center;
  display: inline-block;
  margin-bottom: 4px;
  background: url('../images/marie.png') no-repeat;
  width:204px;
  padding-left:28px;
  }
  .small{
    margin-top:0;
  }
  .menu{
    display: block;
  }
  .gallery{
      -moz-column-count: 2;
      -moz-column-gap: 8px;
      -webkit-column-count: 2;
      -webkit-column-gap: 8px;
      column-count: 2;
      column-gap: 8px;
  } 
  /* detail page */
  .work-description{
    width:100%;
    float:left;
  }
  .work-images{
    width:100%;
    float:right;
  }
  .work-image img{ 
    margin-bottom:8px;
  }
  .about{
  width:85%;
}

}

@media screen and (max-width: 320px) {
  body{
/*     background:rgb(238, 238, 238); */
  }
  .wrapper{
     width: 300px;
     margin: 0 auto;
  }
  h1{
  font-size: 32px;
  line-height: 32px;
/*  font-size:1.2em; */
  text-align: center;
  display: inline-block;
  margin-bottom: 4px;
  background: url('../images/marie.png') no-repeat;
  width:28px;
  padding-left:32px;
  }
  .small{
    font-size:1.2em;
    line-height: 1.4em;
    margin-bottom: 8px;
    display: inline-block;
    text-indent:-999px;
  }
  .menu{
    font-size:1em;
    line-height: 1.6em;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .gallery{
     width:100%;
      -moz-column-count: 1;
       -moz-column-gap: 8px;
       -webkit-column-count: 1;
       -webkit-column-gap: 8px;
       column-count: 1;
       column-gap: 8px; 
     
  } 
  /* detail page */
  .work-description{
    width:300px;
    margin-bottom:12px; 
    display:block;
  }
  .work-images{
    width:300px;
    float:none;
  }
  .work-image img{ 
    width:300px;
    margin-bottom:8px;
  }  
.about{
  width:100%;
  font-size: 1.4em;
  line-height: 1.6em;
}
}

.entry-title{
  display: none;

}